*{
    font-family: 'Poppins';
}

.navbar-nav .dropdown-item {
    font-size: 12px;
}

.navbar{
    border: none;
    padding: 13px;
    border-bottom: 1px solid #e4e0e0;
}
.carousel-item img{
    height: 450px;
    opacity: 80%;
}
.carousel-caption{
    padding-bottom: 7rem;

}

.active{
    color:black !important;
    border-bottom: 2px solid #b4b4b0;
}

.heading-title{
    font-size: 35px;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 14px;
    color: cornflowerblue;
}